*{
    font-family: poppins;
}
.navbar{
    background-color: #A71C19;
    color: #fff;
}
.navbar span{
    font-weight: 600;
    font-size: 16px;
    padding-left: 10px;
}
.navbar .collapse ul li a{
    color: #fff;
    font-size: 18px;
}
.navbar .collapse ul li a.active{
    color: #fff;
    font-weight: 700;
}
.navbar .collapse .dropdown-menu li a{
    color: #A71C19;
    font-size: 12px;
    font-weight: 600;
}


/* hero */
.hero{
    background: url(../img/bgutama.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    background-position: center;
}
@media (max-width: 575.98px) {
    .hero{
        background: url(../img/bgutama.png) no-repeat;
        background-size: cover;
        width: 100%;
        height: 60vh;
        background-position: center;
    }
    #hero .isi .title{
        color: #fff;
        margin-top: 66px;
        font-size: 22px;
        font-weight: 700;
    }
    #hero .isi .subtitle{
        color: rgb(211, 211, 211);
        font-weight: 400;
        font-size: 14px;
    }
}
#hero .title{
    color: #fff;
    font-size: 48px;
    font-weight: 700;
}
#hero .subtitle{
    color: rgb(211, 211, 211);
    font-weight: 400;
    font-size: 24px;
}
/* akhir hero */

/* pengumuman */
#pengumuman{
    background-color: #A71C19;
    padding-bottom: 100px;
}
#pengumuman .title h1{
    font-size: 40px;
    font-weight: 600;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #fff;
}
#pengumuman .deskripsi .card{
    border: none;
}
.deskripsi .card{
    background-color: #fff;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    padding: 24px;
    height: 100%;
}
.cards{
    max-height: fit-content;
}
.deskripsi .card p{
    font-size: 11px;
    font-weight: 300;
}
.deskripsi .card h1{
    font-size: 20px;
    color: #000;
    font-weight: 600;
}
.deskripsi .card h4{
    font-size: 12px;
    margin-top: 10px;
    color: #666666;
    display: flex;
}
.deskripsi .card .card-selengkapnya a{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-decoration: none;
    font-size: 12px;
    font-weight: 300;
    margin-top: 26px;
    color: #A71C19;
}

/* akhir pengumuman */


/* artikel */
#artikel{
    margin-top: 50px;
}
#artikel .title h1{
    color:#A71C19;
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 600;
}
#artikel .card{
    border: none;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 20%);
    height: 100%;
}
#artikel .card .keterangan{
    padding: 16px;
}
#artikel .card .keterangan h1{
    font-size: 14px;
    font-weight: 600;
}
#artikel .card .keterangan a{
    text-decoration: none;
    font-size: 13px;
    color: #A71C19;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
/* akhir artikel */


/* kontak */
#kontak{
    color: #fff;
    margin-top: 80px;
    background-color: #A71C19;
    padding-bottom: 50px;
}
#kontak h1{
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 32px;
    font-weight: 600;
}
#kontak img{
    width: 50px;
}
#kontak a{
    text-decoration: none;
    color:#fff;
}
/* akhir kontak */

/* footer */
#footer p{
    color: #A71C19;
    font-weight: 600;
}
/* akhr footer */